html {
  background: linear-gradient(to top, /* Colour theme: allows text fading into top nav */
      rgba(224, 224, 25, 0.7),
      rgba(3, 181, 252, 0.7) 100%);


}

.app {
  /* height: 100vw; */
  width: 100vw;
  margin: 0 auto;
  color: #eb2380;

  text-shadow: -1px 0 #383838, 0 1px #383838;
}

h1 {
  margin: auto;
  font-size: 3em;
  color: #eb2380;
  font-family: 'Knewave', cursive;
}

.app--input-form {
  text-align: center;
}

.input-form {
  text-align: center;
}

.input-form__input {
  margin: 10px auto;
  display: block;
  width: 200px;
  height: 30px;
  font-size: 1em;
  background: none;
  border-radius: 10px;
  border: 2px #eb2380 solid;
  font-family: 'Knewave', cursive;
  color: #eb2380;
  text-align: center;
}

.input-form__submit {
  background: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px #eb2380 solid;
  font-family: 'Knewave', cursive;
  color: #eb2380;
}


.display--image-container {
  margin: 0px auto;
  width: 500px;

}

.display--p {
  display: inline;
}

.display--h3 {
  display: inline;
}

.display--image {
  margin: auto;
  margin-top: 40px;
  border: 2px solid #eb2380;
  height: 400px;
  width: 400px;
}

.drawing-board__canvas {
  margin: auto;
  margin-top: 40px;
  border: 2px solid #eb2380;
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
}

.drawing-board__container {
  margin: auto;
  text-align: right;
}

.drawing-board__color-picker-label {
  display: inline;
}

.drawing-board__color-picker {
  display: inline;
}


.app--drawing-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
